
large_budget_replication/figures/
lightning_logs/
lightning_logs2/
lightning_logs3/
lightning_logs_v1/
lightning_logs_backup/
.next-token-dataloader
__pycache__
.mnist_data
.cifar_data
.cifar_data_10
.fashion_mnist
slurm_logs/
tmp.ipynb
distances/raw_distances
distances/processed_distances
sequential.sh
sequential2.sh
devana-batch-jobs.sh
paper_scripts/*.png
.vscode/*
/*.sh