
lightning_logs/
lightning_logs2/
lightning_logs_backup/
.next-token-dataloader
__pycache__
.mnist_data
.cifar_data
.cifar_data_10
slurm_logs/
tmp.ipynb
coco
distances/raw_distances
distances/processed_distances
